<form class="form">

    <label class="form-row">
        <div class="tag">Name</div>
        <input type="text" ng-model="note.name"></input>
    </label>

    <label class="form-row">
        <div class="tag">Tags</div>
        <input type="text" ng-model="note.tags"></input>
    </label>

    <label class="form-row">
        <div class="tag">Language</div>
        <a href="asdf">test</a>
    </label>

    <label class="form-row">
        <div class="tag">Language</div>
        <input type="text" ng-model="note.language"></input>
    </label>

</form>