.flex{
    display: flex;

    &.column{
        flex-direction: column;
    }

    &.wrap{
        flex-wrap: wrap;
    }

    &.space-between{
        justify-content: space-between;
    }

    &.center-justify{
        justify-content: center;
    }

    &.end-justify{
        justify-content: flex-end;
    }

    &.center-align{
        align-items: center;
    }

    &.center{
        justify-content: center;
        align-items: center;
    }

    &.spaced-items{
        padding: 5px;
    }
    &.spaced-items > *{
        margin: 5px
    }

    .grow-0{
        flex-grow: 0;
    }
    .grow-1{
        flex-grow: 1;
    }

    .shrink-1{
        flex-shrink: 1;
    }
    .shrink-0{
        flex-shrink: 0;
    }

    .basis-0{
        flex-basis: 0;
    }

}