@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700);

$brandColor: #1AB1BF;
$darkBrandColor: #2B5F6C;
$greyBrandColor: #9DC3C7;
$grey: #c9c9c9;
$logo-font: 'Comfortaa', sans-serif;
$main-font: 'Open Sans', sans-serif;
