body{
    font-family: $main-font;
    color: $darkBrandColor;
}

.float-right{
    float: right;
}

.invisible{
    visibility: hidden;
}

.shrunk-horizontal{
    flex-grow: 0;
    width: 0;
    overflow: hidden;
}

.clickable{
    cursor: pointer;
}

.fills-parent {
    height: 100%;
    width: 100%;
}